<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="css/siteFeature2.style_screen.css" />
<script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="js/jquery.easing.pack.js" type="text/javascript"></script>
<script src="js/jquery.siteFeature2.pack.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
<title>SSH代理 VPN代理 网页代理 高速美国主机代理</title>
</head>
<body>
<div id="header"><a href="#" id="logo"></a></div>
<div id="status_small" style="display: none"></div>
<div id="status_large" style="display: none"></div>
<div id="wrap">
<div id="navigator">
<div id="menu">
<ul>
	<li><a href="#" id="loginbutton"><span>登&nbsp;录</span></a></li>
	<li><a href="#" id="regbutton"><span>注&nbsp;册</span></a></li>
	<li><a href="#" id="helpbutton"><span>帮&nbsp;助</span></a></li>
</ul>
</div>
<div id="arrow1" style="display: none"></div>
<div id="arrow2" style="display: none"></div>
<div id="arrow3" style="display: none"></div>
<div id="htmlform1" style="display: none">
<div id="diffform">
<form name="myform" method="post" action="login.php" class="grey">
<table>
	<caption>用户登陆</caption>
	<tr>
		<td align="right" width="40%">用户名</td>
		<td align="left"><input name="id" type="text" value=""
			style="width: 150px" /></td>
	</tr>
	<tr>
		<td align="right">密&nbsp;&nbsp;码</td>
		<td align="left"><input name="pw" type="password" value=""
			style="width: 150px" /></td>
	</tr>
	<tr>
		<td></td>
		<td align="left"><input name="tijiao" type="submit" value=""
			class="login" /> <a href="#" id="forgetpass">忘记密码？</a></td>
	</tr>
</table>
</form>
</div>
<div class="close">&nbsp;&nbsp;&nbsp;</div>
</div>
</div>
<div id="htmlform2" style="display: none">
<div id="diffform">
<form name="myform" method="post" action="reg.php" class="grey">
<table>
	<caption>用户注册</caption>
	<tr align="center">
		<td align="right" width="45%"><span style="color: #F00">*</span>用户名：</td>
		<td align="left"><input name="id" type="text" value="" /></td>
	</tr>
	<tr>
		<td align="right"><span style="color: #F00">*</span>登陆密码：</td>
		<td align="left"><input name="pw" type="password" value="" /></td>
	</tr>
	<tr>
		<td align="right"><span style="color: #F00">*</span>再次输入登陆密码：</td>
		<td align="left"><input name="pw2" type="password" value="" /></td>
	</tr>
	<tr>
		<td align="right">旺旺账号：</td>
		<td align="left"><input name="taobao_name" type="text" value="" /></td>
	</tr>
	<tr>
		<td align="right">QQ：</td>
		<td align="left"><input name="qq" type="text" value="" /></td>
	</tr>
	<tr>
		<td align="right">E-mail：</td>
		<td align="left"><input name="email" type="text" value="" /></td>
	</tr>
	<tr>
		<td></td>
		<td align="left"><input name="tijiao" type="submit" value=""
			class="reg" /></td>
	</tr>
</table>
</form>
</div>
<div class="close">&nbsp;&nbsp;&nbsp;</div>
</div>
<div id="htmlform3" style="display: none">
<div id="diffform">
<p>使用帮助内容待定。。。</p>
</div>
<div class="close">&nbsp;&nbsp;&nbsp;</div>
</div>
<div id="htmlform4" style="display: none">
<div id="diffform">
<form name="myform" method="post" action="change_status.php"
	class="grey">
<table>
	<caption>用户信息</caption>
	<tr>
		<td align="right" width="45%">用户名：</td>
		<td align="left">{$name}</td>
	</tr>
	<tr>
		<td align="right">密码：</td>
		<td align="left"><input name="pw" type="text" value="{$password}" /></td>
	</tr>
	<tr>
		<td align="right">旺旺账号：</td>
		<td align="left"><input name="taobao_name" type="text"
			value="{$taobao_name}" /></td>
	</tr>
	<tr>
		<td align="right">QQ：</td>
		<td align="left"><input name="qq" type="text" value="{$qq}" /></td>
	</tr>
	<tr>
		<td align="right">E-mail：</td>
		<td align="left"><input name="email" type="text" value="{$email}" /></td>
	</tr>
	<input name="id" type="hidden" value="{$name}" />
	<tr>
		<td align="right">订购时间：</td>
		<td align="left">{$paytime}</td>
	</tr>
	<tr>
		<td align="right">到期时间：</td>
		<td align="left">{$overtime}</td>
	</tr>
	<tr>
		<td></td>
		<td align="left"><input name="tijiao" type="submit" value=""
			class="modify" /></td>
	</tr>
</table>
</form>
<form name="pay" method="post" action="alipay/enter.php" class="grey">
<table>
	<tr>
		<td width="45%" rowspan="2" align="right">选择付费（续费）时长：</td>
		<td align="left"><input type="radio" name="paymonth" value="1" />
		1个月 <input type="radio" name="paymonth" value="3" /> 3个月</td>
	</tr>
	<tr>
		<td align="left"><input type="radio" name="paymonth" value="6" />
		6个月 <input type="radio" name="paymonth" value="12" /> 12个月</td>
	</tr>
	<input name="name" type="hidden" value="{$name}" />
	<tr>
		<td></td>
		<td align="left"><input type="submit" value="" class="pay" /></td>
	</tr>
</table>
</form>
</div>
<div class="close">&nbsp;&nbsp;&nbsp;</div>
</div>
<div id="content">
<div id="slide">
<h3>请新老用户注意啦！老用户可以用自己的账户登陆网站，查看账户使用期限，修改密码和自助续费。新用户注册即可得到测试账号，您测试用户着靠谱
的话可以网上自助开通~支付宝担保付款，安全放心！支付后立即生效~
<br>每个用户可以使用所有SSH服务器，哪个快您用哪个，没有任何限制~
现有服务器（不断扩充中）:
<br>ssh2.fan-qiang.com
<br>ssh3.fan-qiang.com
<br>ssh6.fan-qiang.com</h3>
<div id="preFeature2" style="border: 5px solid #666">
<div><img src="images/twitter.jpg" alt="twitter snapshot" />
<p>想上twitter看看您喜欢的明星天天在干什么嘛？</p>
<!--a href="http://www.yahoo.com">Link #1</a--></div>
<div><img src="images/facebook.jpg" alt="facebook snapshot" />
<p>想上facebook上认识外国的朋友嘛？</p>
<!--a href="http://www.google.com">Link #2</a--></div>
<div><img src="images/youtube.jpg" alt="youtube snapshot" />
<p>想去youtube上看全球各地的朋友上传的有趣的片子嘛？</p>
<!--a href="#">Link #3</a--></div>
<div><img src="images/picasa.jpg" alt="picasa snapshot" />
<p>想上picasa看看出国留学的哥们儿分享的照片嘛？？</p>
<!--a href="#">Link #4</a--></div>
</div>
</div>
<div id="webproxy">
<h3>网页代理入口</h3>
<form action="webproxy/includes/process.php?action=update" method="post"
	class="form"><input type="text" name="u" id="input" size="30"
	class="textbox"><input type="submit" value="Go" class="button"></form>
</div>
</div>
</div>

<div id="bottom">
<p>Copyright</p>
</div>
</body>
</html>
