<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<link href="css/main.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="css/siteFeature2.style_screen.css" />
<script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="js/jquery.easing.pack.js" type="text/javascript"></script>
<script src="js/jquery.siteFeature2.pack.js" type="text/javascript"></script>
<script src="js/formvalidation.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>


<title>SSH代理 VPN代理 网页代理 高速美国主机代理</title>
</head>
<body>

<div id="status_small" style="display:none">xxx 退出</div>
<div id="status_large" style="display: none"></div>
<div id="header"><a href="index.php" id="logo"></a>
</div>
<div id="wrap">
  <div id="navigator">
    <div id="menu">
      <ul>
        <li><a href="#" id="loginbutton"><span>登&nbsp;录</span></a></li>
        <li><a href="#" id="regbutton"><span>注&nbsp;册</span></a></li>
        <li><a href="#" id="helpbutton"><span><font color=red>购买疑问</font></span></a></li>
        <li><a href="#" id="pricebutton"><span><font color=blue>购买费用</font></span></a></li>
        <li><a href="templates/help.html"><span>使用帮助</span></a></li>
      </ul>
    </div>
    <div id="arrow1" style="display:none"></div>
    <div id="arrow2" style="display: none"></div>
    <div id="arrow3" style="display: none"></div>
    <div id="arrow4" style="display:none"></div>
    <div id="htmlform1" style="display:none">
      <div class="diffform">
        <form name="myform" method="post" action="login.php" class="grey">
          <table>
            <caption>
            用户登陆
            </caption>
            <tr>
              <td align="right" width="100px">用户名</td>
              <td align="left"><input name="id" type="text" value=""
			style="width: 150px" /></td>
            </tr>
            <tr>
              <td align="right">密&nbsp;&nbsp;码</td>
              <td align="left"><input name="pw" type="password" value=""
			style="width: 150px" /></td>
            </tr>
            <tr>
              <td align="right">输入验证码</td>
              <td align="left"><input name="yz" type="text" value="" style="width: 50px"/>
                <img src="yz.php" align="absmiddle" /></td>
            </tr>
            <tr>
              <td></td>
              <td align="left"><input name="tijiao" type="submit" value=""
			class="login" />
                <a href="#" id="forgetpass">忘记密码？</a></td>
            </tr>
          </table>
        </form>
      </div>
      <div class="close">&nbsp;&nbsp;&nbsp;</div>
    </div>
  </div>
  <div id="htmlform2" style="display:none">
    <div class="diffform">
      <form name="myform" method="post" action="reg.php" class="grey">
        <table width="400px">
          <caption>
          用户注册
          </caption>
          <tr>
            <td align="right" width="100px"><span style="color: #F00">*</span>用户名：</td>
            <td align="left"><input name="id" type="text" value="" style="width: 150px"/></td>
          </tr>
          <tr>
          	<td></td>
          	<td align="left" style="padding:0px; padding-left:8px; color:#999; font-size:90%">4至20个字符(包括字母、数字、下划线)，且必须以英文字母开始。如example2010</td>
          </tr>
          <tr>
            <td align="right"><span style="color: #F00">*</span>登录密码：</td>
            <td align="left"><input name="pw" type="password" value="" style="width: 150px"/></td>
          </tr>
          <tr>
          	<td></td>
          	<td align="left" style="padding:0px; padding-left:8px; color:#999; font-size:90%">密码长度6～14位，字母区分大小写</td>
          </tr>
          <tr>
            <td align="right"><span style="color: #F00">*</span>确认登录密码：</td>
            <td align="left"><input name="pw2" type="password" value=""  style="width: 150px"/></td>
          </tr>
           <tr>
            <td align="right"><span style="color: #F00">*</span>E-mail：</td>
            <td align="left"><input name="email" type="text" value=""  style="width: 150px"/></td>
          </tr>
          <tr>
            <td align="right">旺旺账号：</td>
            <td align="left"><input name="taobao_name" type="text" value=""style="width: 150px"/></td>
          </tr>
          <tr>
            <td align="right">QQ：</td>
            <td align="left"><input name="qq" type="text" value="" style="width: 150px"/></td>
          </tr>

          <tr>
            <td align="right">输入验证码：</td>
            <td align="left"><input name="yz" type="text" value=""  style="width: 50px"/>
              <img src="yz.php" align="absmiddle" /></td>
          </tr>
          <tr>
            <td></td>
            <td align="left"><input name="tijiao" type="submit" value=""
			class="reg" /></td>
          </tr>
        </table>
      </form>
    </div>
    <div class="close">&nbsp;&nbsp;&nbsp;</div>
  </div>
  <div id="qanda" style="display:none">
    <div id="qanda1">
      <p class="q">1,服务器稳定么？</p>
      <p>答：我国到美国部分地区的出口确实会阶段性的出现问题。正是因为有此问题，我们现有四台服务器分布在美国国东西海岸成犄角之势，保证您时刻稳定的wall外生活。</p>
      <p class="q">2,服务器速度怎么样？</p>
      <p>答：我看U2BE反正是不卡，看广告不如看疗效，注册个用户试一下就OK了~</p>
      
      <p class="q">3,有其他疑问怎么办？</p>
      <p>答：联系我吧！旺旺:kecker QQ:58287926 一般都在，欢迎来询~</p>
    </div>
    <div class="close">&nbsp;&nbsp;&nbsp;</div>
  </div>
  <div id="price" style="display:none">
    <div id="price1">
      <p><span style="color:#00F">人间遍种自由花!</span></p>
      <p>注册即可得测试账号，测试满意再付费~</p>
      <p><b>每天一毛多，买一个等于买四个！</b></p>
      <table>
        <tr>
          <td>一个月</td>
          <td>4.5元</td>
        </tr>
        <tr>
          <td>三个月</td>
          <td>13元</td>
        </tr>
        <tr>
          <td>六个月</td>
          <td>25元 </td>
        </tr>
        <tr>
          <td>一年</td>
          <td>45元</td>
        </tr>
      </table>
    </div>
    <div class="close">&nbsp;&nbsp;&nbsp;</div>
  </div>
  <!--div id="htmlform4" style="display: none">
    <div class="diffform">
      <form name="myform" method="post" action="change_status.php"
	class="grey">
        <table>
          <caption>
          用户信息
          </caption>
          <tr>
            <td align="right" width="45%">用户名：</td>
            <td align="left">{$name}</td>
          </tr>
          <tr>
            <td align="right">密码：</td>
            <td align="left"><input name="pw" type="text" value="{$password}" /></td>
          </tr>
          <tr>
            <td align="right">旺旺账号：</td>
            <td align="left"><input name="taobao_name" type="text"
			value="{$taobao_name}" /></td>
          </tr>
          <tr>
            <td align="right">QQ：</td>
            <td align="left"><input name="qq" type="text" value="{$qq}" /></td>
          </tr>
          <tr>
            <td align="right">E-mail：</td>
            <td align="left"><input name="email" type="text" value="{$email}" /></td>
          </tr>
          <input name="id" type="hidden" value="{$name}" />
          <tr>
            <td align="right">订购时间：</td>
            <td align="left">{$paytime}</td>
          </tr>
          <tr>
            <td align="right">到期时间：</td>
            <td align="left">{$overtime}</td>
          </tr>
          <tr>
            <td></td>
            <td align="left"><input name="tijiao" type="submit" value=""
			class="modify" /></td>
          </tr>
        </table>
      </form>
      <form name="pay" method="post" action="alipay/enter.php" class="grey">
        <table>
          <tr>
            <td width="45%" rowspan="2" align="right">选择付费（续费）时长：</td>
            <td align="left"><input type="radio" name="paymonth" value="1" />
              1个月
              <input type="radio" name="paymonth" value="3" />
              3个月</td>
          </tr>
          <tr>
            <td align="left"><input type="radio" name="paymonth" value="6" />
              6个月
              <input type="radio" name="paymonth" value="12" />
              12个月</td>
          </tr>
          <input name="name" type="hidden" value="{$name}" />
          <tr>
            <td></td>
            <td align="left"><input type="submit" value="" class="pay" /></td>
          </tr>
        </table>
      </form>
    </div>
    <div class="close">&nbsp;&nbsp;&nbsp;</div>
  </div-->
  <div id="content">
    <div id="slide">
      <h3>
        服务水平大升级！<font color=blue>账号可以在4个不同的服务器上使用</font>，且机房贯穿美国东西部，您可以选择您用着最快的！ <br>
        现有4台服务器: <br>
        服务器1：1.ssh0.com (洛杉矶,<font color=red>推荐</font>) <br>
        服务器2：2.ssh0.com (宾西法尼亚) <br>
        服务器3：3.ssh0.com (波特兰，<font color=red> </font>)<br>
        服务器4：6.ssh0.com (奥兰多,<font color=blue>推荐</font>) <br>
        <font color=red>您登陆后可以自助购买续费，自动开通！</font><br></h3>
      <div id="preFeature2" style="border: 5px solid #666">
        <div><img src="images/twitter.jpg" alt="twitter snapshot" />
          <p>想上twitter看看您喜欢的明星天天在干什么嘛？</p>
          <!--a href="http://www.yahoo.com">Link #1</a-->
        </div>
        <div><img src="images/facebook.jpg" alt="facebook snapshot" />
          <p>想上facebook上认识外国的朋友嘛？</p>
          <!--a href="http://www.google.com">Link #2</a-->
        </div>
        <div><img src="images/youtube.jpg" alt="youtube snapshot" />
          <p>想去youtube上看全球各地的朋友上传的有趣的片子嘛？</p>
          <!--a href="#">Link #3</a-->
        </div>
        <div><img src="images/picasa.jpg" alt="picasa snapshot" />
          <p>想上picasa看看出国留学的哥们儿分享的照片嘛？？</p>
          <!--a href="#">Link #4</a-->
        </div>
        <div><img src="images/happy.jpg" alt="picasa snapshot" />
          <p>来使用我们的SSH号吧~</p>
          <!--a href="#">Link #4</a-->
        </div>

      </div>
    </div>
    <!--  
    <div id="webproxy">
      <h3>网页代理入口
        <form action="http://72.11.150.242/sshweb/webproxy/includes/process.php?action=update" method="post"
	class="form">
          <input type="text" name="u" id="inputurl" size="30"
	class="textbox" value="请输入网址...">
          <input type="submit" value="Go" class="button">
        </form>
      </h3>
    </div>
    -->
    <font color=blue>站长联系方式 <a target="_blank" href="http://amos1.taobao.com/msg.ww?v=2&uid=kecker&s=1" ><img border="0" src="http://amos1.taobao.com/online.ww?v=2&uid=kecker&s=1" alt="点击这里给我发消息" /></a>  QQ：58287926(总隐身)</font>
    
  </div>
</div>

<div id="bottom">
  <p>Copyright：ssh0.com</p>
</div>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/3904713.js"></script>
<noscript><a href="http://www.51.la/?3904713" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/3904713.asp" style="border:none" /></a></noscript>
</body>
</html>
