<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<link type="text/css" href="css/main.css" rel="stylesheet" />
</head>
<div id="header"></div>
<div id="wrap">
<form name="myform" method="post" action="change_status.php">
<table class="form">
	<caption>用户信息</caption>
	<tr>
		<td align="right" width="40%">用户名：</td>
		<td align="left">{$name}</td>
	</tr>
	<tr>
		<td align="right">密码：</td>
		<td align="left"><input name="pw" type="text" value="{$password}" /></td>
	</tr>
	<tr>
		<td align="right">旺旺账号：</td>
		<td align="left"><input name="taobao_name" type="text"
			value="{$taobao_name}" /></td>
	</tr>
	<tr>
		<td align="right">QQ：</td>
		<td align="left"><input name="qq" type="text" value="{$qq}" /></td>
	</tr>
	<tr>
		<td align="right">E-mail：</td>
		<td align="left"><input name="email" type="text" value="{$email}" /></td>
	</tr>
	{if $regtime != ''}
	<tr>
		<td align="right">注册时间：</td>
		<td align="left">{$regtime}</td>
	</tr>
	{if $testpassword == ''}

	<tr>
		<td align="right">测试账号：</td>
		<td align="left">test</td>
	</tr>
	<tr>
		<td align="right">测试密码：</td>
		<td align="left">{$testpassword}</td>
	</tr>
	{/if} {/if}
	<input name="id" type="hidden" value="{$name}" />
	{if $paytime != ''}
	<tr>
		<td align="right">订购时间：</td>
		<td align="left">{$paytime}</td>
	</tr>
	<tr>
		<td align="right">到期时间：</td>
		<td align="left">{$overtime}</td>
	</tr>

	{/if}
	<tr>
		<td></td>
		<td align="left"><input name="tijiao" type="submit" value="修改信息"
			class="tijiao" /></td>
	</tr>
	<!--tr>
		<a href="alipay/enter.php?name={$name}&yue=10">付费</a>
	</tr-->

</table>
</form>
<form name="pay" method="post" action="alipay/enter.php">
<table class="form">
	<tr>
		<td align="right" width="40%">选择付费（续费）时长：</td>
		<td align="left"><input type="radio" name="paymonth" value="1" />1个月(4.5￥)
		<input type="radio" name="paymonth" value="3" />3个月 (13￥)<input
			type="radio" name="paymonth" value="6" />半年(25￥)<input type="radio"
			name="paymonth" value="12" />一年(45￥)</td>
	</tr>
	<input name="name" type="hidden" value="{$name}" />
	<tr>
		<td></td>
		<td align="left"><input type="submit" value="付费" class="tijiao" /></td>
	</tr>

</table>
</form>
</div>
</html>