/* CSS Document */
*{
	margin:0;
	padding:0;
}
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
	text-align:center;
}

#wrap {
	width:960px;
	margin:0 auto;
	padding:10px;
}
#header	{
	background:url(../images/fan-qiang.gif) no-repeat top center;
	margin:0 auto;
	height:110px;
	width:960px;
}
#header h1 {

}

/*导航栏*/
#navigator{
	
}
#navigator ul li{
	
}
/*主体内容*/
#content {
	
}	

#content ul li{
	
}
/*侧边栏*/
#sidebar {
}
/*底边*/
#bottom {
	/*background:url(../images/bottom.gif) no-repeat top center;*/
	margin:0 auto;
	clear:both;
	height:50px;
	}
/*注册*/
table {
	border:1px solid #069;
}
table caption{
	background:#069;
	padding:8px;
	font-size:110%;
	font-weight:bold;
	color:#FFF;
}
table td{
	padding: 8px;
}
.form{
	width:350px;/*設置了表格宽度才能保证表格居中*/
	margin:0 auto;
}
.tijiao{
	background:#069;
	color:#FFF;
	width:50px;
	height:30px;
}