/* CSS Document */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
	/*background:#000000 url(../images/main-bg.jpg) no-repeat center top;*/
	margin:0;
	padding:0;
}

#wrap {
	position:absolute;
	width:960px;
	margin-left:-480px;
	left:50%;
}
#header	{
	/*background:url(../images/logo_02.png) no-repeat top left;*/
	text-decoration:none;
	margin:0;
	padding:0;
}
#header h1 {

}

/*导航栏*/
#navigator{
	margin:0;
}
#navigator ul li{
	display:inline;
	padding:4px;
}
/*主体内容*/
#content {
	background:url(../images/content-bg.png) repeat-y;
	margin:0;
	padding:10px;
	float:left;
	width:65%;
}	

#content ul li{
	display:inline;
	text-decoration:none;
}
/*侧边栏*/
#sidebar {
	margin:0;
	padding:10px;
	float:right;
	width:30%;
}
/*底边*/
#bottom {
	/*background:url(../images/bottom.gif) no-repeat top center;*/
	margin:0;
	padding:0;
	clear:both;
	height:50px;
	}
/*注册*/
#register table td{
	padding: 4px;
}