/* CSS Document */
* {
	margin:0;
	padding:0;
}
body {
	background:#FFF url(../images/bg.jpg) top repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif, Î¢ÈíÑÅºÚ;
	font-size:small;
	text-align:center;
}
#wrap {
	width:600px;
	margin:0 auto;
	/*padding:10px;*/
	background:#CCC url(../images/body-bg.gif) repeat-x top;
	margin-top:10px;
}
#header {
	/*background:url(../images/header-bg.png) repeat-x top;*/
	/*for IE6*/
	/*_background:none;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="../images/header-bgforIE2.png");*/
 	background:url(../images/logo.jpg) no-repeat top;
	margin:0 auto;
	height:110px;
	width:600px;
}
#logo {
	/*background:url(../images/logo.gif) no-repeat top left;*/
	display:block;
	/*width:400px;*//*why?*/
	height:110px;
	padding:0;
}
/*navigator*/
#navigator {
	width:600px;
	text-align:left;
}
#menu {
	width:500px;
}
#menu ul li {
	float:left;
	margin-left:20px;
	margin-top:10px;
	list-style:none;
	font-size:120%;
	display:block;
	line-height:40px;/*font-family:"ºÚÌå";*/
}
#menu li a {
	text-decoration:none;
	color:#000;
	display:block;
	cursor:pointer;
	padding-left:11px;
}
#menu li a span {
	text-decoration:none;
	color:#000;
	padding-right:11px;
	display:block;
}
#menu li a:hover {
	text-decoration:none;
	background:url(../images/l-menu.gif) top left no-repeat;
	color:#fff;
}
#menu li a:hover span {
	text-decoration:none;
	color:#fff;
	background:url(../images/r-menu.gif) top right no-repeat
}
#menu li a.active {
	text-decoration:none;
	background:url(../images/l-menu.gif) top left no-repeat;
	color:#fff;
	font-weight:bold;
}
#menu li a.active span {
	text-decoration:none;
	background:url(../images/r-menu.gif) top right no-repeat;
	color:#fff;
}
#arrow1 {
	clear:left;
	background:url(../images/arrow.gif) top center no-repeat;
	width:17px;
	height:11px;
	position:relative;
	left:40px;
	_left:60px;
}
#arrow2 {
	clear:left;
	background:url(../images/arrow.gif) top center no-repeat;
	width:17px;
	height:11px;
	position:relative;
	left:120px;
	_left:140px;
}
#arrow3 {
	clear:left;
	background:url(../images/arrow.gif) top center no-repeat;
	width:17px;
	height:11px;
	position:relative;
	left:220px;
	_left:240px;

}
#arrow4 {
	clear:left;
	background:url(../images/arrow.gif) top center no-repeat;
	width:17px;
	height:11px;
	position:relative;
	left:320px;
	_left:340px;
	
}
/*content*/
#content {
	clear:both;
	width:600px;
	margin:0 auto;
	text-align:center;
	margin-top:20px;
}
#slide {
	width:500px;
	margin-left:20px;
	_margin: 0 auto;
}
h3 {
	text-align:left;
	padding:10px;
}
#webproxy {
	width:500px;
	margin-top:10px;
	margin-left:20px;
	_margin: 0 auto;
	_margin-top:20px;
}
#htmlform1 {
	clear:left;
	background:#e2e1e2 url(../images/form-bg.gif) top repeat-x;
	border:1px #CCC solid;
	border-top:none;
	width:440px;
	height:200px;
	margin-top:-2px;
	_margin-top:-6px;
	padding:10px;
	margin-left:20px;
}
#htmlform2 {
	clear:left;
	background:#e2e1e2 url(../images/form-bg.gif) top repeat-x;
	border:1px #CCC solid;
	border-top:none;
	width:450px;
	height:400px;
	margin-top:-2px;
	_margin-top:-6px;
	padding:10px;
	margin-left:20px;
	text-align:left;
}
#htmlform3 {
	clear:left;
	background:#e2e1e2 url(../images/form-bg.gif) top repeat-x;
	border:1px #CCC solid;
	border-top:none;
	width:350px;
	height:200px;
	margin-top:-2px;
	_margin-top:-6px;
	padding:10px;
	margin-left:20px;
}
#htmlform4 {
	clear:left;
	background:#e2e1e2 url(../images/form-bg.gif) top repeat-x;
	border:1px #CCC solid;
	border-top:none;
	width:400px;
	height:450px;
	margin-top:-2px;
	_margin-top:-6px;
	padding:10px;
	margin-left:20px;
}
#qanda {
	clear:left;
	background:#e2e1e2 url(../images/form-bg.gif) top repeat-x;
	border:1px #CCC solid;
	border-top:none;
	width:400px;
	height:320px;
	margin-top:-2px;
	_margin-top:-6px;
	padding:10px;
	margin-left:20px;
}
#qanda1 {
	float:left;
	width:330px;
	height:320px;
	text-align:left;
}
#qanda1 p {
	padding-left:5px;
}
.q {
	padding:5px;
	font-weight:bold;
}
#price {
	clear:left;
	background:#e2e1e2 url(../images/form-bg.gif) top repeat-x;
	border:1px #CCC solid;
	border-top:none;
	width:330px;
	height:200px;
	margin-top:-2px;
	_margin-top:-6px;
	padding:10px;
	margin-left:20px;
}
#price1 {
	float:left;
	width:300px;
	height:180px;
	text-align:left;
}
#price1 table {
	border:none;
}
#price1 table td {
	padding:3px;
}
#price1 p {
	padding:5px;
}
.close {
	background:url(../images/close.png) top center no-repeat;
	cursor:pointer;
	float:right;
}
.diffform {
	margin-right:20px;
	float:left;
}
/*siderbar*/
#sidebar {
}
/*bottom*/
#bottom {
	background: #CCC url(../images/bottom-flower.gif) no-repeat bottom right;
	margin:0 auto;
	width:600px;
	clear:both;
	height:100px;
}
#bottom p {
	padding:30px;
	font-weight:bold;
}
/*register*/
table {
	border:1px solid #069;
}
table caption {
	background:#069;
	padding:4px 8px 4px 8px;
	font-size:110%;
	font-weight:bold;
	color:#FFF;
}
table td {
	padding: 4px 8px 4px 8px;
}
.form {
	width:500px;
	margin:0 auto;
	text-align:left;
}
/*input{
	width:150px;
}*/
.tijiao {
	background:#069;
	border: 1px solid #FFFFFF;
	border-bottom:1px solid #666;
	border-right:1px solid #666;
	color:#FFF;
	width:100px;
	height:25px;
	font-size:105%;
}
/*complicatec*/

.grey table {
	border:none
}
.grey table caption {
	background:none;
	padding:4px 8px 4px 8px;
	font-size:130%;
	color:#000;
	text-align:left;
	font-weight:normal;
}
.grey table td {
	padding: 4px 8px 4px 8px;
}
.login {
	background:url(../images/login.gif) no-repeat;
	width:70px;
	height:32px;
	border:none;
	cursor:pointer;
}
#forgetpass {
	font-size:110%;
	vertical-align:middle;
	color:#333;
}
.reg {
	background:url(../images/reg.gif) no-repeat;
	width:70px;
	height:32px;
	border:none;
	cursor:pointer;
}
.pay {
	/*background:url(../images/pay.gif) no-repeat;*/
	width:150px;
	height:32px;
	border:1px solid #666;
	font-size:120%;
	cursor:pointer;
}
.modify {
	background:url(../images/modify.gif) no-repeat;
	width:70px;
	height:32px;
	border:none;
	cursor:pointer;
}

.textbox {
	color:#999;
}

#status_small{
	margin:0 auto;
	height:20px;
	width:600px;
	background:#CCF;
	text-align:right;
}
.errormsg{
	color:#F00;
	font-size:90%;
	background:#FF9;
}
.warningmsg{
	color:#0F0;
	font-size:90%;
	background:#FF9;
}
.Section1{
	text-align:left;
	padding:8px;
}
.Section1 h4{
	padding:10px;
}
.helpcontent{
	padding:4px;
	text-indent:32px;
	vertical-align:middle;
	line-height:20px;
	font-size:110%;
}
.helpimg{
	padding:4px;
	text-align:center;
}
#fixed {
	background:url(../images/back.png) no-repeat left;
	position:absolute;
	top:110px;
	margin-left:600px;
	padding-left:20px;
}
#helplink {
	background:url(../images/help.png) no-repeat left;
	margin-left:500px;
	padding-left:20px;
	font-size:105%;
}

.focus {
	width:600px;
	margin:0 auto;
	background:#F0E68C;
	font-weight:bold;
}